<div class="panel instrument-panel" id="hello-panel" ng-show="vm.isLoggedIn()">
	<div>
		<h2>Welcome {{hel.userDataService.user.name}}!</h2>
			<a class="btn" ng-click="hel.postStation()">NEW STATION</a>
			<hr>

		<!-- LISTING USER STATIONS -->
		<ul id="stations">
			<li ng-repeat="station in hel.stationService.stations" class="station-li">
				<br>
				<a ng-click="hel.goToStation(station._id)"><strong>{{station.name}}</strong></a>
				<button class="btn btn-danger btn-xs btn-list" ng-click="hel.deleteStation(station._id)">X</button>
			</li>
		</ul>
	</div>
</div>

