<div class="row">
	<div class="panel instrument-panel" id="register-panel">
		<br>
		<h3>Let Uncle Derry Call You!</h3>
		<h4>Register Now, Friend!</h4>
		<br>
		<form ng-submit="vm.createUser()">
			<div class="row">
				<label for="inputName1" class="left-jus col-md-offset-3">Username</label>
				<div class="form-group col-md-6 col-md-offset-3">
					<input type="text" id="inputName1" class="form-control" placeholder="username" ng-model="vm.userData.name" required />
				</div>
			</div>
			<div class="row">
				<label for="inputEmail1" class="left-jus col-md-offset-3">EMAIL</label>
				<div class="form-group col-md-6 col-md-offset-3">
					<input type="text" id="inputEmail1" class="form-control" placeholder="email" ng-model="vm.userData.email" required />
				</div>
			</div>
			<div class="row">
				<label for="inputPword1" class="left-jus col-md-offset-3">Password</label>
				<div class="form-group col-md-6 col-md-offset-3">
					<input type="password" id="inputPword1" class="form-control" placeholder="Save your info!" ng-model="vm.userData.password" required />
				</div>
			</div>
<!--			<div class="col s12"><button ng-click="register.send()" class="btn">REGISTER</button></div>-->
			<button class="col s12 btn" type="submit">Friends Forever!</button>
		</form>
	</div>
</div>
