<div class="container">

	<div class="row panel" id="control-panel">
		<div class="col s4 panel-button" ng-repeat="control in sta.stationService.station.globalControls">||||||||||||||||||||</div>
		<div class="col s12" id="on-off-panel">
			<hr>
			<button class="btn" id="btn-on" ng-click="sta.setStepPromises(); sta.loopToggle()" ng-show="!sta.stationService.loopOn">LOOP ON</button>
			<button class="btn" id="btn-off" ng-click="sta.loopToggle()" ng-show="sta.stationService.loopOn">LOOP OFF</button>
			<button ng-repeat="instrument in sta.stationService.station.stationInstruments" class="btn button-on-off" ng-click="instrument.show = !instrument.show; instrument.muted = !instrument.muted" ng-class="{'btn-inst-off': instrument.muted}">{{ instrument.name }}</button>
		</div>
	</div>

	<div class="row" ng-repeat="instrument in sta.stationService.station.stationInstruments" ng-show="instrument.show"> 
		<div class="panel instrument-panel">
			<div class="panel-header">
			  <!-- can DRY up by making object in StationsController -->
				<span class="col s4 panel-button">{{ instrument.name }}</span>
				<span class="col s4 panel-button">||||||||||||||||||||</span>
				<span class="col s4 panel-button">||||||||||||||||||||</span>
			</div>
			<div class="step-panel">
				<span class="step" ng-repeat="step in instrument.steps" id="{{step.id}}" 
					ng-mousedown="sta.stepPressed(step); sta.stepOnOff(step)"
					ng-mouseup="sta.stepPressed(step); sta.updateStation(); sta.clearMetronome()"
					ng-class="{ 'depressed': step.pressed, 'stepOn': step.on, 'quarterNote': !step.quarterNote, 'metronome': step.metronome,
						'E-note': step.pressCount === 0, 'F-note': step.pressCount === 1, 
						'G-note': step.pressCount === 2, 'B-note': step.pressCount === 3, 'C-note': step.pressCount === 4,}">
					<span class="step-text"></span></span>
			</div>
		</div>
	</div>

</div>  