a {
	cursor: pointer;
}

html, body {
	margin: 0;
	height: 100%;
}

body > * {
	color: white;
	font-family: 'Lato', sans-serif, bold;
}

body {
	background-image: url('../img/takashi-1.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
	font-family: 'Permanent Marker', cursive;
	background-color: #a2ddf2 !important;
}

#btn-on {
	background-color: #2d8791 !important;
}

#btn-off {
	background-color: #de646a !important;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #4e90d0;
	padding: 5px;
}

.footer-links {
	display:inline-block;
	margin: 0 auto;
	padding-right: 20px;
	margin-top: auto;
	color: white;
}

.footer-wrapper {
	text-align: center;
}

form {
	background-color: #d6d8e4;
}

.side-nav {
	z-index: 10000;
}

.tester {
	height: 200px;
	width: 200px;
	background-color: peru;
}

.container {
	margin-top: 74px;
	margin-bottom: 80px;
	width: 1000px;
	min-width: 1000px;
}

.col {
	text-align: center;
}

.instrument-panel {
	height: 280px;
	background-color: #91c7d9;
}

#control-panel {
	height: 100px;
	margin-top: 79px;
	margin-bottom: 20px !important;
}

.panel {
	background-color: #d6d8e4;
/*	background-color: slategrey;*/
	border: 5px solid #4e90d0;
	border-radius: 5px;
	width: 100%;
	box-shadow: 3px 3px black;
}

.panel-header {
	background-color: #4e90d0;
	height: 10%;
}

.row {
	width: 100%;
/*	margin-bottom: 0 !important;*/
	font-size: 1.2em;
}

nav {
	position: fixed;
	top: 0;
}

.brand-logo {
	padding: 0px 0 0 15px !important;
	font-family: 'Permanent Marker', cursive;
}

.step {
	height: 53px;
	display: inline-table;
	width: 51.5px;
	background-color: #edadcc;
	cursor: pointer;
	border-radius: 5px;
	margin: 3px 4px; 
	text-align: center;
	box-shadow: 2px 2px black;
}

.depressed {
	box-shadow: 0px 0px black;
	transform: translateY(2px) translateX(2px)
}

.stepOn {
	background-color: #ffdbec !important;
}

.E-note {
	background-color: #a2ddf2 !important;
}
.F-note {
	background-color: #d4bf61 !important;
}
.G-note {
	background-color: #2d8791 !important;
}
.B-note {
	background-color: #de646a !important;
}
.C-note {
	background-color: #b0383c !important;
}

.step-panel {
	height: 90%;
	display: block;
	text-align: center;
/*
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
*/
}

.nav-wrapper {
	background-color: #4e90d0;
	color: white;
}

#footer-wrapper {
	height: 100%;
	color: white;
/*	background-color: aqua;*/
}

#on-off-panel {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.button-on-off {
	margin: auto;
	display: inline-block;
}

.knob-global {
	background-color: #4e90d0;
	height: 28px;
	cursor: pointer;
}

.muted {
	background-color: black;
}

.quarterNote {
/*	background-color: #bbbdc9;*/
/*	background-color: #d6d8e4;*/
/*	background-color: #cbcedb;*/
	background-color: slategray;
}

.metronome {
	background-color: #DE7473 !important;
}

#hello-panel {
	background-color: #d6d8e4;
	width: 600px;
	height: auto;
	margin: 74px auto 0 auto;
	padding: 20px;
}

#about-panel {
	background-color: #d6d8e4;
	width: 600px;
	height: auto;
	margin: 74px auto 0 auto;
	padding: 20px;
}

#welcome-panel {
	background-color: #d6d8e4;
	width: 600px;
	height: auto;
	margin: 74px auto 0 auto;
	padding: 20px;
	margin-bottom: 74px;	
}

#register-panel {
	width: 600px;
	height: 580px;
	margin: 74px auto 0 auto;
	padding: 20px;
}

#login-panel {
	width: 600px;
	height: auto;
	margin: 74px auto 0 auto;
	padding: 20px;
}

.step-text {
	display: table-cell;
	vertical-align: middle;
}

.panel-button {
	background-color: slategrey;
	box-shadow: 2px 2px black;
}

.panel-button-on {
	transform: translateX(-2px) translateY(-2px);
	background-color: lightgrey;
}
.invite {
	height: 80%;
/*	width: 20%;*/
	margin: 0 auto 0 auto;
}

.invite-div {
	height: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.btn-list {
	position: relative;
	float: right;
}

.banner-header {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

.btn-inst-off {
	background-color: #84646A !important;
}

#pads-img {
	width: 100%;
	margin: 5px auto;
}

#login-panel {
	width: 600px;
	height: 210px;
	background-color: #d6d8e4;
	margin: 74px auto 0 auto;
}

.lifted-button {
	margin: 0 auto 22px !important;
}
